*{
	margin: 0px;
	padding: 0px;
}
header,footer,nav,section,article,aside,hgroup,figure,figcaption{
	display: block;
}
body{
	background-image: url("https://images8.alphacoders.com/550/550615.jpg");
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}
#Agrupar{
	width: 1000px;
	margin: 15px auto;
	text-align: left;
}
#Cabecera{
background-position: center;
padding: 20px;
border: 1px solid #F90101;
}
#Menu{
	border: 1px solid #FF5601;
	background: #E17719;
	padding: 5px 15px;
}
#Menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px vernada, sans-serif;
}
#Seccion{
	margin: 15px 0px;
	background: rgba(88, 24, 24, 0.7);
	border:1px solid #F90101;
	float: left;
	width: 680px;
}
#Columna{
	border:1px solid #F90101;  
	float: left;
	width: 240px;
	margin: 20px 0px;
	margin-left: 35px;
	padding: 20px;
	background: #F64C07;
}
#Pie{
	background:#39312E;
	clear: both;
	border-top: 1px solid #999999;
	text-align: center;
	padding: 20px;
}
#Titulo{
	font: 40px bold vernada, sans-serif;
}
#Catalogo{
	margin: 5px;
}
#poster{
	display: flex;
	flex-wrap: nowrap;
}
#text_movie{
	display: flex;
	flex-wrap: wrap;
	font: bold 15px arias, sans-serif; 
}
/*-------------Formulario----------------*/
  .form-register {
	width: 400px;
	background:  #aa582f;
	padding: 30px;
	margin: auto;
	margin-top: 10px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
  }
  
  .form-register h4 {
	font-size: 22px;
	margin-bottom: 20px;
  }
  
  .controls {
	width: 100%;
	background: #802d0c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #b8220e;
	font-family: 'calibri';
	font-size: 18px;
	color: white;
  }
  
  .form-register p {
	height: 40px;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
  }
  
  .form-register a {
	color: white;
	text-decoration: none;
  }
  
  .form-register a:hover {
	color: rgb(201, 73, 73);
	text-decoration: underline;
  }
  
  .form-register .botons {
	width: 100%;
	background: #F90101;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
  }