*{
	margin: 0px;
	padding: 0px;
}
header,footer,nav,section,article,aside,hgroup,figure,figcaption{
	display: block;
}
body{
	background-image: url("https://images8.alphacoders.com/550/550615.jpg");
	background-position: center;
	background-attachment: fixed;
	text-align: center;
}
#Agrupar{
	width: 1000px;
	margin: 15px auto;
	text-align: left;
}
#Cabecera{
background-position: center;
padding: 20px;
border: 1px solid #F90101;
}
#Menu{
	border: 1px solid #FF5601;
	background: #E17719;
	padding: 5px 15px;
}
#Menu li{
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14px vernada, sans-serif;
}
#Seccion{
	margin: 15px 0px;
	background: rgba(88, 24, 24, 0.7);
	border:1px solid #F90101;
	float: left;
	width: 680px;
}
#Columna{
	border:1px solid #F90101;  
	float: left;
	width: 240px;
	margin: 20px 0px;
	margin-left: 35px;
	padding: 20px;
	background: #F64C07;
}
#Pie{
	background:#39312E;
	clear: both;
	border-top: 1px solid #999999;
	text-align: center;
	padding: 20px;
}
#Titulo{
	font: 40px bold vernada, sans-serif;
}
#Catalogo{
	margin: 5px;
}
figcaption{
	font: bold 15px arias, sans-serif; 
}