<!DOCTYPE html>
<html lang="es">
<head>
	<title>Godzilla la leyenda</title>
		<link rel="stylesheet" href="Zilla.css">
</head>
<body>
<div id="Agrupar">	
	<header id="Cabecera">
			<hgroup>
					<h1 id="Titulo">Godzilla la leyenda</h1>
					<h2>Subtitulo principal</h2>
			</hgroup>
	</header>
		<nav id="Menu">
				<ul>
					<li><a href="Godzilla la leyenda.html">Inicio</a></li>
					<li><a href="Godzilla descarga.html">Descarga</a></li>
					<li><a href="">Contactos</a></li>
					<li><a href="">Ayuda</a></li>
				</ul>
		</nav>
			<section id="Seccion">
			
			</section>
				<aside id="Columna">
						<blockquote>Mensaje 1</blockquote>
						<blockquote>Mensaje 2</blockquote>
				</aside>
					<footer id="Pie">
						<span>La toho me va a romper el orto con los derechos</span>
					</footer>
</div>
</body>
</html>