{% extends './base.html' %}
{% load static %}
{% block content %}
{% if latest_movie_list %}
<article class="publicacion">
	{% for movie in latest_movie_list %}
		<header>
			<h1>{{ movie.title_movie }}</h1>
		</header>
		<figure id="poster">
			<img src={% static 'img/poster 1.t.jpg' %} id="poster">
			<figcaption id="text_movie">
				<p>{{ movie.description_text }}</p>
				<span>duracion: {{movie.duration}}</span>
				<a href={{ movie.download }}><span>descargar aqui</span></a>
			</figcaption>
		</figure>
	{% endfor %}
</article>
{% else %}
<p>No movies availables.</p>
{% endif %}
{% endblock  %}