<article class= "publicacion">
    <header>
        <hgroup>
            <h1>Godzilla(1954)</h1>
        </hgroup>
    </header>
            <figure>
                <img src= {% static 'img/poster 1.t.jpg' %}>
                <figcaption><p>Un gigante monstruo lanzallamas aterroriza a Japón<br> después de que una bomba atómica lo despierta <br>luego de estar dormido durante varios siglos.</p></figcaption>
            </figure>
</article>
<article>
    <header>
        <hgroup>
            <h1>Godzilla Raids Again(1955)</h1>
        </hgroup>
    </header>
            <figure>
                <img src= {% static 'img/poster 2.t.jpg' %}>
                <figcaption><p>Un gigante monstruo lanzallamas aterroriza a Japón<br> después de que una bomba atómica lo despierta <br>luego de estar dormido durante varios siglos.</p></figcaption>
</article>
<article>
    <header>
        <hgroup>
            <h1>King Kong vs. Godzilla(1962)</h1>
        </hgroup>
    </header>
            <figure>
                <img src= {% static 'img/poster 3.t.jpg' %}>
                <figcaption><p>Un gigante monstruo lanzallamas aterroriza a Japón<br> después de que una bomba atómica lo despierta <br>luego de estar dormido durante varios siglos.</p></figcaption>
</article>